.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 0px 15px;
}

@media (min-width: 360px) and (max-width:768px){
    .footer{
        padding: 5% 2%;
    }
    .redes img{
        padding: 0px 8px;
    }
    .footer .img-logo{
        width: 10%;
    }
    .footer .copyright{
        font-size: 14px;
    }
} 